#first{
	border: 1px solid black;
	position: absolute;
	top: 20px;
}

#second{
	border: 10px dotted blue;
}

#third{
	border: 1px solid red;
}

ul {
    list-style-type: none;
    
}

ul ul {
	list-style-image: url('http://classes.codingbootcamp.cz/assets/classes/8/bullet.png');
}