#first{
	border: 1px solid black;
}

#second{
	border: 10px dotted blue;
}

#third{
	border-top: 3px green solid;
	border-bottom: 3px green solid;
	border-right: 1px green solid; 
	border-left: 0px;
}