body {
  background: red;
}
p {
  font-size: 14px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul li {
  font-size: 16px;
}
h1,
h2 {
  color: #87ceeb;
}
section {
  border-bottom: 1px solid #800080;
}
.bordered {
  border: 1px solid red;
  font-size: 2em;
  background: silver;
}
.list-item {
  background-color: yellow;
  border: 1px solid red;
  font-size: 2em;
  background: silver;
}
.side_menu {
  border: 1px solid red;
  font-size: 2em;
  background: silver;
}
.shadowed {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.first a {
  text-decoration: none;
}
.first p {
  background-color: #e0e0e0;
}
.first p a {
  color: #800080;
}
