body, p{
	background-color: #E6E6F6;
	font-family: 'Arima Madurai', sans-serif;
}

span {
    color: red; 
    font-weight: bold;
}

h1{
	color: #376391;
	font-family: 'Arima Madurai', sans-serif;
	font-size: 2em;
	font-weight: normal;
}

a {
	font-weight: bold;
}

p {
	background-color: rgba(0,0,0,0.5);
	line-height: 1.2em;
	border: 1px solid red;
	border-style: solid;
}


span {
	background-color: lightblue;
}

p.red{
	background-color: red;
}

p.green{
	background-color: green;
}

p.blue{
	background-color: blue;
}

/*
a.red {
	color: red;
}

p.blue a{
	color: yellow;
}

p.red a,
p.green a{
	color: white;
}
*/

li.seen{
	color: silver;
}

li.seen.good{
	color: DarkSeaGreen;
}

li.unseen {
	color: #B22222;
}

a {text-decoration: none}

a:hover {text-decoration: line-through;
		color: red;
		}



h2{
	font-variant: small-caps;
}
