@import 'shadows';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

.box { @include border-radius(10px); }

@mixin nice_line_spacing($font_size){
    line-height: $font_size * 2;
}

.p { 
    @mixin nice_line_spacing(20px);
    }
 

